<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=ezzipos;TrustServerCertificate=true;Trusted_Connection=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>CompactSkin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Pos.Properties.Settings>
      <setting name="hasLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="isAdmin" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="BusinessLocation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentUserFullName" serializeAs="String">
        <value>Current User</value>
      </setting>
      <setting name="BusinessLocationName" serializeAs="String">
        <value>Not Set</value>
      </setting>
      <setting name="DefaultCurrency" serializeAs="String">
        <value>DA</value>
      </setting>
      <setting name="TechnicalId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EvantoToken" serializeAs="String">
        <value>8pvaLH5DTakHdAFTH90EKD4zyPY4kDh8</value>
      </setting>
      <setting name="StripeSecretKey" serializeAs="String">
        <value>sk_test_YOUR_STRIPE_TEST_KEY_HERE</value>
      </setting>
      <setting name="IsLockScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrinterReciept" serializeAs="String">
        <value />
      </setting>
      <setting name="PrinterDocument" serializeAs="String">
        <value />
      </setting>
      <setting name="Lang" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="UserSession" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCurrencyDirection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BusinessLocationId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SuperAdminPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="CashRegisterId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserRoleID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsInUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PurchaseCode" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUsed" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineId" serializeAs="String">
        <value />
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>Pos</value>
      </setting>
      <setting name="PosTopBanner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PosBottomBanner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PosCategoriesWithoutImgs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PosProductsWithoutImgs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PoslayoutControlGroupLatestOrders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PoslayoutControlGroupLatestCustomers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PoslayoutControlGroupLatestSuppliers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PoslayoutControlGroupSalesReturns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PoslayoutControlGroupHold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PoslayoutControlGroupUnpaidOrders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PosCategories" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpiryDate" serializeAs="String">
        <value />
      </setting>
      <setting name="IsExpiryDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaleMode" serializeAs="String">
        <value>Grocery</value>
	  </setting>
      <setting name="AppRibbon" serializeAs="String">
        <value>False</value>
      </setting>
    </Pos.Properties.Settings>
  </userSettings>
</configuration>